.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  color: #fff;
  background: rgba(126, 223, 255, 0.116);
  background-image: linear-gradient(180deg, #ffffff00 20%, #000000 100%);
  background-blend-mode: multiply;
  backdrop-filter: blur(25px);
  font-family: 'Rubik', sans-serif;
}

.fixedBg {
  background: url("/slider/leaderboardbg.jpg") center center no-repeat fixed;
  background-size: cover;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: -1;
}

.mainInner {
  width: clamp(650px, 50vw, 1500px);
  text-align: center;
  padding: 1rem;
  margin: 2rem 0;
  overflow: auto;
}

.hideScrollbar {
  overflow: hidden;
  scrollbar-width: none;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.leaderboard {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.leaderboardTitle {
  text-align: center;
  padding-bottom: 1rem;
}

.leaderboardTitle h1 {
  font-size: 2.5rem;
  margin: 0;
}

.leaderboardTable {
  width: 100%;
  overflow-x: auto;
}

.leaderboardTable table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  border: 1px solid #ccc;
  backdrop-filter: blur(10px);
  font-size: 1rem;
}

.leaderboardTable table thead tr th {
  padding: 0.8rem 0.5rem;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.leaderboardTable table tbody tr td {
  padding: 0.8rem 0.5rem;
  border: 1px solid #ccc;
  text-align: center;
}

.leaderboardTable table thead tr th,
.leaderboardTable table tbody tr td {
  border-left: none;
  border-right: none;
}

.leaderboardTable table tbody tr:nth-child(odd) {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  padding: 1rem;
}

.footer i {
  vertical-align: middle;
}

.madeWithLove {
  font-size: 1rem;
}

.madeWithLoveText {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
}

.madeWithLoveText i {
  color: red;
  padding-right: 0.05rem;
  animation: pound 0.35s infinite alternate;
}

@keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@media (orientation: portrait) {
  .mainInner {
    width: 80vh;
    padding: 2rem;
  }

  .leaderboard {
    padding: 0rem;
  }

  .leaderboardTitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .leaderboardTable table tr td:nth-child(4),
  .leaderboardTable table tr th:nth-child(4) {
    display: none;
  }
}
